.notification-content
  .greenline
  .notification-header
    .notification-header-portrait
      = link_to activity.owner do
        %img{:alt => "thumb", :class => "user-portrait", :src => activity.owner.profile_image}

  .notification-description
    - user_link = link_to(activity.owner.nick, user_path(activity.owner))
    - idea_link = link_to(activity.trackable.name, idea_path(activity.trackable))
    = t("public_activity.#{activity.key}_html", :user => user_link, :idea => idea_link)

  %span.activities-data
    = l activity.created_at

  .clear
