<div class="container_12 wrapper">
	<div class="green-line thin-line"></div>
	<header class="grid_12 new-idea">
		<h3>Crie uma nova ideia</h3>
	</header>
</div>
<div class="container_12 wrapper fix-border">
	<div class="grid_8 fix-border">
		<h3>Imagem de capa</h3>
		<p>Selecione uma imagem para sua ideia, utilize algo que consiga transmitir aos outros usuários
			sobre o que ela se trata. Você pode pedir ajuda a algum designer e até os outros usuários
			podem dar uma forcinha. E lembre-se de não usar uma imagem protegida por direitos
			autorais. Não se preocupe pois você poderã mudá-la depois.</p>
			<p>O tamanho padrão é 220x144 pixels.</p>
		</div>
		<div class="grid_4" id="select-image">
			<img class="idea-portrait" src="">
			<br>
			<button class="big-button red-button">selecionar imagem</button>
		</div>
	</div>
	<div class="container_12 wrapper fix-border">
		<div class="grid_8">
			<h3>Mini Descrição</h3>
			<p>Explique com poucas palavras sobre o que é a sua ideia, essa descrição aparecerá na página inicial do site.</p>
			<textarea name="min-idea-description" class="idea-creation idea-creation-min-description"></textarea>
			<h3>Descrição</h3>
			<p>Agora precisamos de um texto maior para explicar a sua ideia,
				você pode contar um pouco sobre ela e sobre o que motivou você a criá-la.</p>
				<textarea name="idea-description" class="idea-creation idea-creation-description"></textarea>
				<h3>Tags</h3>
				<p>Tags ajudam a localizar a sua ideia e também a classificá-la. Você pode utilizar tags
					já existentes no site ou criar novas.</p>
					<input type="text" name="tags" class="idea-creation tags-creation"></input>
					<p><span class="small">Separe cada tag com uma hashtag (#).</p></span>
					<div>
						<h3>Video</h3>
						<p>Se você ja tem um video no Youtube ou no Vimeo, coloque o endereço dele aqui:</p>
						<input type="text" name="video-url" class="idea-creation video-url"></input>
					</div>
					<br>
				</div>
				<div class="grid_4 idea-options omega">
					<h3>Opções</h3>
					<h4>Visibilidade da ideia</h4>
					<input type="checkbox" name="" value=""><label>Aberta para todos</label><br>
					<input type="checkbox" name="" value=""><label>Visível somente para pessoas específicas</label>
					<input type="text" name="" class="" size="31" placeholder="Digite o nome ou email"></input>
					<div class="specific-users">
						<div class="specific-user"><!-- put username here --><button class="remove">x</button></div>
					</div>
					<input type="checkbox" name="" value=""><label>Protegido por senha</label>
					<input type="text" name="" class="" size="31" placeholder="nova senha"></input>
					<input type="text" name="" class="" size="31" placeholder="repita a nova senha"></input>
					<h4>Fórum</h4>
					<input type="checkbox" name="" value=""><label>Todo mundo pode ler e responder no fórum</label><br>
					<input type="checkbox" name="" value=""><label>Liberado somente para pessoas específicas</label>
					<input type="text" name="" class="" size="31" placeholder="Digite o nome ou email"></input>
					<div class="specific-users">
						<div class="specific-user"><!-- put username here --><button class="remove">x</button></div>
					</div>
					<h4>Administradores</h4>
					<p>Você pode escolher outras pessoas para ajudar na administração da sua ideia.</p>
					<input type="text" name="" class="" size="31" placeholder="Digite o nome ou email"></input>
					<div class="specific-users">
						<div class="specific-user"><!-- put username here --><button class="remove">x</button></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>


			<div class="container_12 wrapper fix-border">
				<br>
				<div class="grid_7 push_1 idea-submit-text">
					<h1>Tudo pronto, pode criar essa ideia<h1>
					</div>
					<div class="grid_4 push_1 idea-submit-button">
						<button type="submit" class="big-button green-button">Clique aqui</button>
					</div>
					<br>
					<div class="clear"></div>
					<div class="red-line"></div>
