<% for i in 1..5 do %>
<div class="container_12 idea-row">
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <a href=
            "idea-profile.html"><img src="assets/idea-1.png" class=
            "idea-portrait" /></a>
        <h2>
            Lorem Ipsum
        </h2>
        <!-- IDEA NAME -->
        <p>
            Lorem ipsum
        </p>
        <!-- MINI DESCRIPTION -->
        <div class="red-line"></div>
    </div>
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <a href=
            "idea-profile.html"><img src="assets/idea-2.png" class=
            "idea-portrait" /></a>
        <h2>
            Lorem Ipsum
        </h2>
        <p>
            Lorem ipsum
        </p>
        <div class="red-line"></div>
    </div>
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <a href=
            "idea-profile.html"><img src="assets/idea-3.png" class=
            "idea-portrait" /></a>
        <h2>
            Lorem Ipsum
        </h2>
        <p>
            lorem ipsum
        </p>
        <div class="red-line"></div>
    </div>
    <div class="grid_3 wrapper min-idea omega">
        <!-- THE LAST MUST BE OMEGA -->
        <div class="green-line"></div>
        <a href=
            "idea-profile.html"><img src="assets/idea-4.png" class=
            "idea-portrait" /></a>
        <h2>
            Lorem ipsum
        </h2>
        <p>
            Lorem ipsum
        </p>
        <div class="red-line"></div>
    </div>
</div>
<% end %>


