<%= render :partial => "layouts/navbar" %>

<% @ideas.each do |idea| %>
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <div class="home-idea">
           <%= link_to image_tag(idea.image.url(:thumb)), idea_path(idea) %>
        <h2>
            <%= idea.name %>
        </h2>
        <p>
            <%= idea.mini_description  %>
        </p>
        </div>
        <div class="red-line"></div>
    </div>
<% end %>
</div>


</div> <!-- fim #layout -->