<div class="container_12 idea-row">
<% count = 0 %>
<% @ideas.each do |idea| %>
<% count += 1 %>
<% puts "<br/>" if count % 5  %>
    <div class="grid_3 wrapper min-idea omega">
        <div class="green-line"></div>
           <%= link_to image_tag(idea.image.url(:thumb)), idea_path(idea) %>
        <h2>
            <%= idea.name %>
        </h2>
        <p>
            <%= idea.mini_description  %>
        </p>
        <div class="red-line"></div>
    </div>
<% end %>
</div>


