<%= render :partial => "layouts/navbar" %>


<div class="ideas-list">
    <% @ideas.each do |idea| %>
        <div class="grid_3 wrapper min-idea">
            <div class="box-idea">
               <%= link_to image_tag(idea.image.url(:thumb)), idea_path(idea) %>
            <h2>
                <%= idea.name %>
            </h2>
            <p>
                <%= idea.mini_description  %>
            </p>
            </div>
            <div class="red-line"></div>
        </div>
    <% end %>
</div>