= render "layouts/navbar"


.notifications_container
  .miolo
    .notification-area-content
      %h3=t('.title')

      = render_activities(@display_activities)

      .pagination
        = paginate @display_activities