.notification-content
  .notification-header
    .notification-header-portrait
      = link_to activity.owner do
        %img{:alt => "thumb", :class => "user-portrait", :src => activity.owner.profile_image}

  .notification-description
    - user_link = link_to(activity.owner.nick, user_path(activity.owner))
    - idea_link = link_to(activity.trackable.idea.name, idea_path(activity.trackable.idea))
    = t("public_activity.#{activity.key}_html", :user => user_link, :idea => idea_link)

    = render 'public_activity/date', :activity => activity

  .clear
