<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para resetar a sua senha. Você pode fazê-lo no link abaixo.</p>

<p><%= link_to 'Redefinir a minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Caso você não tenha pedido uma troca de senha, ignore este email.</p>
<p>A sua senha não irá mudar até que você acesse este link e crie uma nova.</p>
