<p>Olá <%= @resource.email %>!</p>

<p>A sua conta foi bloqueada devido a um número excessivo de tentatias de login.</p>

<p>Clique aqui para desbloquear a sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, :unlock_token => @token) %></p>
